<ion-header>
  <ion-navbar>
    <ion-title>
        Telefonica bot
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <ion-list *ngFor="let message of messages" no-lines>
    <ion-item *ngIf="message.response" class="response">
      {{message.text}}Derecha
    </ion-item>
    <ion-item item-right *ngIf="!message.response">
      {{message.text}}Izquierda
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-input #message (keyup.enter)="addMessage(message.text)" [(ngModel)]="message.text">
    </ion-input>
    <button (click)="addMessage(message.text)" item-right>Send</button>
  </ion-row>
</ion-footer>
